@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BuiltSight</h1>
    <br />
    @*<div class="form-group">
    <form method="post">
    <div class="custom-select">
    <label for="selectedMaterial">Choose a Material: </label>
    <br />
    <select id="selectedMaterial" name="SelectedMaterialName">
    <option value="">-- Select --</option>
    @foreach (var material in Model.Materials)
    {
    <option value="@material.Name">@material.Name</option>
    }
    </select>
    </div>
    <br />
    <button class="button-27" role="button" type="submit" asp-page-handler="ScrapeData">Compare</button>
    </form>
    </div>*@
    <br />
    <br />
</div>